.modal-alert {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15%;
  height: 25%;
  padding: 1%;
  gap: 5%;
  box-shadow: 5px 5px 5px 5px black;
  transform: translate(-50%, -50%);
  background: linear-gradient(to right, #b3b3b3, #808080);
  z-index: 1000;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-alert .image {
  width: 30%;
  height: 30%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 1rem;
}

.modal-alert p {
  text-align: justify;
}

.modal-alert .button {
  width: 50%;
  height: 2rem;
  border-radius: 0.5rem;
}