.form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  box-shadow: 5px 5px 5px 5px #082f49; 
  width: 33.333333%;
  height: 75%;
  background-image: linear-gradient(to right, #082f49, #075985);
  border-radius: 1rem;
}

.form-image {
  width: 66.666667%;
  height: 50%;
}

.form-image-div {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.form-items {
  width: 66.666667%;
  height: 3rem;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 5px 1px #031a2a;
}

.form-button{
  background-color: #e11d48;
  color: #d1d5db;
}

input {
  display: block;
  padding: 2px 12px 2px 36px;
  border: 1px solid #CBD5E0;
  border-radius: 0.375rem;
  background-color: #FFFFFF;
  color: #1F2937;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  outline: none;
  border-color: #93C5FD;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
  font-size: 0.875rem;
}

input::placeholder {
  font-style: italic;
  color: #A0AEC0;
}

input:focus {
  border-color: #93C5FD;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5);
}