.form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  width: 33.333333%;
  height: 75%;
  background-image: linear-gradient(to right, #082f49, #075985);
  border-radius: 1rem;
}

.form-image {
  width: 66.666667%;
  height: 50%;
}

.form-image-div {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.form-items {
  width: 66.666667%;
  height: 3rem;
  border-radius: 0.5rem;
}

.form-button{
  background-color: #e11d48;
}